<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>StockAnalyser</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel = "icon" href =  
            "/static/images/images.png" 
                    type = "image/x-icon">
    </head>

    <body id="index" class="home">
        <header id="banner" class="body">
            <h1><a href='#'>StockAnalyser <strong>Machine Lerning tool</strong> </h1>
            
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" style="color: black;">StockAnalyzer</a>
                    </div>
                </div>
            </nav>
        </header>

        <aside id="featured" class="body"><article>
            <figure>
                <img src="static/images/download.png"/>
            </figure>
            <hgroup>
                <h2>Featured Article</h2>
                <h3><a href="#">Stock Companies</a></h3>
            </hgroup>
            <p>These are the companies that are enlisted in stock market</p>
        </article></aside>
        
        <section id="content" class="body">

            <ol id="posts-list" class="hfeed">
                <li><article class="hentry">
                    <header>
                        <h2 class="entry-title"><a href="#" rel="bookmark" title="Permalink to this POST TITLE"> This be the title</a></h2>
                    </header>
                    <footer class="post-info">
                        <abbr class="published" title="2005-10-10T14:07:00-07:00">
                            10th October 2005
                        </abbr>

                        <address class="vcard author">
                            By <a class="url fn" href="#">Enrique Ramirez</a>
                        </address>
                    </footer>
                    <div class="entry-content">
                        <p>Lorem ispum dolor sit amet, consectur adipiscing elit. Quisque venenatis nunc vitae libero iaculis elementum. Nullam et justo</p>
                    </div>
                </article></li>
            </ol>

        </section>

        <footer id="contentinfo" class="body">
            <address id="about" class="vcaard body">
                <span class="primary">
                    <strong><a href="#" class="fn url">Smashing Magzine</a></strong>
                    <span class="role">Amazing Magzine</span>
                </span>

                <img src="static/images/p.jpg" class="photo"/>
                <span class="bio">Smashing Magzine is a website and blog that offers resources and codes to web developers</span>
            </address>
            <p>2005-2009 <a href="www.google.com">Search Smashing Magzine here</a>.</p>
        </footer>

        <script src="/static/scripts.js" charset="utf-8"></script>
    </body>
</html>